body {
  background-color: mintcream;
  text-align: center;
}

h1 {
  color: violet;
  font-family: arial;
  font-size: 125%;
  text-align: center;
}

p {
  color: Violet;
  font-family: arial;
  text-align: center;
}

nav {
  font-family: arial;
  display: block;
}

f {
  font-family: arial;
  color: Violet;
  font-size: 75%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dodgerblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: violet;
}

.active {
  background-color: dodgerblue;
}