body {
  background-color: mintcream;
  text-align: center;
}

h1 {
  color: violet;
  font-family: sans-serif;
  font-size: 125%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: Violet;
  font-family: sans-serif;
  text-align: center;
}

nav {
  font-family: sans-serif;
}

footer {
  font-family: sans-serif;
  color: Violet;
  font-size: 75%;
  padding: 125px;
}

.topnav {
  background-color: dodgerblue;
  overflow: hidden;
  padding: 2px;
  font-family: sans-serif;
  border-radius: 25px;
  width: 40%;
  display: inline-block;
  list-style-type: none;
}

.topnav a {
  color: white;
  text-align: none;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 25px;
}

.topnav a:hover {
  background-color: violet;
  color: white;
  border-radius: 25px;
}

.topnav a.active {
  background-color: violet;
  color: white;
  border-radius: 25px;
}

.omb {
  background-color: dodgerblue;
  overflow: hidden;
  font-family: sans-serif;
  border-radius: 25px;
  width: 13%;
  display: inline-block;
  list-style-type: none;
  padding: 0px;
}

.omb a {
  color: white;
  text-align: none;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 25px;
  display: inline-block;
}

.omb a:hover {
  background-color: violet;
  color: white;
  border-radius: 25px;
}

.omb a.active {
  background-color: violet;
  color: white;
  border-radius: 25px;
}
